---
import Layout from '../../layouts/Layout.astro';
import Cardinvite from '../../components/Cardinvite.astro';
import { getinvite } from '../../../backend/backend.mjs';
const invites = await getinvite();
---

<Layout>

    
    <div class="container py-20 space-y-8">
      <h2>Invité</h2>

      <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-8">
        {invites.length > 0 ? (
          invites.map((invite) => (
            <Cardinvite {...invite} />
          ))
        ) : (
          <p>Aucun invité trouvé.</p>
        )}
      </div>
    </div>
  
</Layout>