---
import Layout from '../../layouts/Layout.astro'
import { Image } from 'astro:assets'
import lac from '../../assets/img/image 10.png'
---

<Layout>
    <h2 class="flex justify-center mb-4">À propos</h2>
    <div class="ml-8 pb-5">
        <p class="mb-4">Le Festival Cinénature est un événement innovant qui célèbre le septième art tout en mettant en avant des thématiques environnementales. Chaque année, il propose une sélection de films documentaires et de fictions abordant des sujets tels que la biodiversité, le changement climatique et les initiatives durables.</p>
        <p>En plus des projections, le festival offre des ateliers pratiques sur la permaculture et le recyclage, des rencontres avec des réalisateurs et des discussions sur l’impact du cinéma sur l'environnement. Les projections en plein air, accompagnées de stands de restauration écoresponsable, créent une atmosphère conviviale. Cet événement unique incite les participants à réfléchir à leur rapport à la nature et à agir pour un avenir plus durable.</p>
        <Image src={lac} alt="Festival Cinénature" class="mt-5"/>
    </div>
    
</Layout>