---
import Layout from '../layouts/Layout.astro';
import { getHouses } from '../js/backend.mjs';
const houses = await getHouses();

---

<Layout>
	<div class="bg-[#D8FFC0]">
    <div class="container py-20 space-y-8">
      <img src="/src/assets/img/image 4.png" alt=""> 
      <h2 class="absolute top-1/2">Home page</h2>

    </div>
  </div>
</Layout>
