---
import Layout from '../layouts/Layout.astro';
import { getHouses } from '../js/backend.mjs';
const houses = await getHouses();

---

<Layout>
	<div class="bg-[#D8FFC0]">
    <div class="container py-20 space-y-8">
      <h1>Home page</h1>

    </div>
  </div>
</Layout>
