---
import Layout from '../../layouts/Layout.astro';
import { oneID} from '../../../backend/backend.mjs'
import { Picture } from 'astro:assets';
const { id } = Astro.params;
const record = await oneID(id);
console.log(record);
import Button from '../../components/Button.astro';
import IconShare from '../../assets/icons/IconShare.svg';
import IconLove from '../../assets/icons/IconLove.svg';
---

<Layout>
    <div class="col-span-2"><a href="/Programmefilm"><p class="text-indigo-500 font-bold">retour aux programmes</p></a></div>
    
<div class="container my-8 grid grid-cols-3 gap-8">
    <div class="col-span-1 flex gap-4 self-start justify-self-end">
        <Button variant="outlined" url="/login" text="Share"><IconShare class="w-5 stroke-infigo-500"/></Button>
        <Button variant="outlined" url="/login" text="Favorite"><IconLove class="w-5 stroke-infigo-500"/></Button>
    </div>
    <div class="col-span-3 grid grid-cols-2 max-h-[500px] grid-rows-2 grid-flow-dense gap-8 lg:grid-cols-subgrid">
        {record.imageUrlsFull.map((imgUrl, index) => (
            <Picture pictureAttributes={{class:"rounded-lg overflow-hidden first:col-span-2 first:lg:row-span-2"}} key="{index}" class={`w-full h-full object-cover`} inferSize="true" src={imgUrl} alt={`House image ${index + 1}`}/>
        ))}
    </div>
    <div class="col-span-3 space-y-8 lg:col-span-2">
        <ul class="grid grid-cols-2 gap-8 rounded-lg border-2 border-indigo-100 p-6 *:space-y-4 lg-grs-cols-5">
            <li>
                <span class="text-gray-500">Bedrooms</span>
            </li>
        </ul>
    </div>
</div>


</Layout>