---
import Logo from '../assets/logosite.svg'
import Facebook from '../assets/icons/IconFacebook.svg'
import Instagram from '../assets/icons/IconInstagram.svg'
import Youtube from '../assets/icons/Youtube.svg'
import Tiktok from '../assets/icons/tiktok.svg'
---
<footer class=" space-y-10 pt-20 lg:grid lg:grid-cols-4 lg:gap-8 lg:space-y-0 bg-[#FBF9EA]">
  <div class="ml-5">
  <Logo />
</div>

    <div class="ml-5">
      <ul class="text-black">
        <li><a href="/À propos">À propos</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="ml-5">
      <ul class="text-[#747474]">
        <li>7 rue du Malsaucy</li>
        <li>90300 Sermamagny</li>
        <li>BUT MMI</li>
        <li>Kilian Breuil</li>
      </ul>
    </div>

  <div
    class="px-5 text-gray-400 border-t border-gray-300 py-8 space-y-6 text-center lg:col-span-4 lg:flex lg:justify-around lg:space-y-0">
    <ul class="flex gap-12 justify-center">
      <li>
        <a href="https://facebook.com" aria-label="Facebook"><Facebook /></a>
      </li>
      <li>
        <a href="https://instagram.com" aria-label="Instagram"><Instagram /></a>
      </li>
      <li>
        <a href="https://twitter.com" aria-label="Twitter"><Youtube /></a>
      </li>
      <li>
        <a href="https://linkedin.com" aria-label="Linkedin"><Tiktok /></a>
      </li>
    </ul>
  </div>
</footer>