---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import { getHouses } from '../../js/backend.mjs';
const houses = await getHouses();
import Id from './[id].astro';
---

<Layout>

    <div class="bg-[rgb(238_242_255)]">
    <div class="container py-20 space-y-8">
      <h1>Properties to rent</h1>

      <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-8">
        {houses.length > 0 ? (
          houses.map((house) => (
            <Card {...house} />
          ))
        ) : (
          <p>No houses to rent.</p>
        )}
      </div>
    </div>
  </div>
</Layout>